In [49]:
import pandas as pd
from dataPreparation import data_preparation

df_completo = data_preparation()

# there are NAS, we replace them with 0
df = df_completo.fillna(0)

df

,title,text-data,desktop-hidden 2,desktop-hidden 4
0,0,0,0,0
1,Apartment for rent in Roma Municipio IX – EUR...,43 m2 apartment for rent in Roma Municipio IX ...,830 EUR,43 m2
2,Apartment for rent in Roma Municipio XII – Mo...,55 m2 apartment for rent in Roma Municipio XII...,800 EUR,55 m2
3,Apartment for rent in Acilia-Castel Fusano-Os...,65 m2 apartment for rent in Acilia-Castel Fusa...,650 EUR,65 m2
4,Apartment for rent in Roma Municipio I – Cent...,50 m2 apartment for rent in Roma Municipio I –...,850 EUR,50 m2
...,...,...,...,...
520,Apartment for rent in Roma Municipio I – Cent...,Apartment for rent in Roma Municipio I – Centr...,"2,000 EUR",0
521,Apartment for rent in Milano Zona 1 - Centro ...,Apartment for rent in Milano Zona 1 - Centro s...,Not specified,0
522,Apartment for rent in Milano Zona 1 - Centro ...,Apartment for rent in Milano Zona 1 - Centro s...,Not specified,0
523,Apartment for rent in Milano Zona 1 - Centro ...,Apartment for rent in Milano Zona 1 - Centro s...,Not specified,0
524,Apartment for rent in Milano Zona 1 - Centro ...,Apartment for rent in Milano Zona 1 - Centro s...,Not specified,0

In [50]:
# create a new column with the countries by taking the last word of the column 'title'
splitted = df['title'].str.split()
df['Country'] = splitted.str[-1]

print(df['Country'])

0        NaN
1      Italy
2      Italy
3      Italy
4      Italy
       ...
520    Italy
521    Italy
522    Italy
523    Italy
524    Italy
Name: Country, Length: 525, dtype: object

In [57]:
# rename the columns and replace not specified prices with 0
df.rename(columns={"desktop-hidden 2": "price", "desktop-hidden 4": "surface"}, inplace=True)
df.replace("Not specified", 0, inplace=True)
df['price'] = df['price'].astype(str)

print(df['price'])

0              0
1        830 EUR
2        800 EUR
3        650 EUR
4        850 EUR
         ...
520    2,000 EUR
521            0
522            0
523            0
524            0
Name: price, Length: 525, dtype: object

In [58]:
#df[df.price.str.contains('EUR')] #.price.str.contains('EUR')

#convert the price to € and remove the 'EUR'
df["price"].replace({"SEK": "/10", "EUR": "*1", }, regex=True).map(pd.eval)

ValueError: Cannot mask with non-boolean array containing NA / NaN values