In [1]:
import pandas as pd
from dataPreparation import data_preparation

df_completo = data_preparation()

# there are NAS, we replace them with 0
df = df_completo.fillna(0)

df

,title,text-data,desktop-hidden 2,desktop-hidden 4
0,Apartment for rent in Roma Municipio IX – EUR...,43 m2 apartment for rent in Roma Municipio IX ...,830 EUR,43 m2
1,Apartment for rent in Roma Municipio XII – Mo...,55 m2 apartment for rent in Roma Municipio XII...,800 EUR,55 m2
2,Apartment for rent in Acilia-Castel Fusano-Os...,65 m2 apartment for rent in Acilia-Castel Fusa...,650 EUR,65 m2
3,Apartment for rent in Roma Municipio I – Cent...,50 m2 apartment for rent in Roma Municipio I –...,850 EUR,50 m2
4,Apartment for rent in Roma Municipio X – Osti...,75 m2 apartment for rent in Roma Municipio X –...,850 EUR,75 m2
...,...,...,...,...
6472,"Apartment for rent in Püssi, Estonia",Apartment for rent in Püssi,225 EUR,0
6473,"Apartment for rent in Tallinn Kesklinna, Estonia",Apartment for rent in Tallinn Kesklinna,350 EUR,0
6474,"Apartment for rent in Maardu, Estonia",Apartment for rent in Maardu,200 EUR,0
6475,"Apartment for rent in Narva-Jõesuu, Estonia",Apartment for rent in Narva-Jõesuu,800 EUR,0
6476,"Apartment for rent in Juuru, Estonia",Apartment for rent in Juuru,380 EUR,0

In [2]:
# create a new column with the country name by taking the last word of the column 'title'
splitted = df['title'].str.split()
df['Country'] = splitted.str[-1]
df['Country'].replace({'Republic':'Czech Republic'}) # replace the 'Republic' with 'Czech Republic'

# drop useless columns
df.drop(columns=['title'], inplace=True)
df.drop(columns=['text-data'], inplace=True)

df

     desktop-hidden 2 desktop-hidden 4  Country
0             830 EUR            43 m2    Italy
1             800 EUR            55 m2    Italy
2             650 EUR            65 m2    Italy
3             850 EUR            50 m2    Italy
4             850 EUR            75 m2    Italy
...               ...              ...      ...
6472          225 EUR                0  Estonia
6473          350 EUR                0  Estonia
6474          200 EUR                0  Estonia
6475          800 EUR                0  Estonia
6476          380 EUR                0  Estonia

[6477 rows x 3 columns]

In [3]:
# rename the columns and replace 'Not specified' prices with 0
df.rename(columns={"desktop-hidden 2": "price", "desktop-hidden 4": "surface"}, inplace=True)
df.replace("Not specified", '0', inplace=True)
df['price'] = df['price'].astype(str)

df

        price surface  Country
0     830 EUR   43 m2    Italy
1     800 EUR   55 m2    Italy
2     650 EUR   65 m2    Italy
3     850 EUR   50 m2    Italy
4     850 EUR   75 m2    Italy
...       ...     ...      ...
6472  225 EUR       0  Estonia
6473  350 EUR       0  Estonia
6474  200 EUR       0  Estonia
6475  800 EUR       0  Estonia
6476  380 EUR       0  Estonia

[6477 rows x 3 columns]

In [4]:
temp = df[df['price'].str.contains('EUR')] #.price.str.contains('EUR')
temp = temp[temp['price'].str.match('0') == False]

#convert the price to € and remove the 'EUR'
    # list of not euro values to be replaced
    # CHF, DKK, PLN, SEK, CZK, BGN, HUF, RON

print(temp['price'])

0       830 EUR
1       800 EUR
2       650 EUR
3       850 EUR
4       850 EUR
         ...
6472    225 EUR
6473    350 EUR
6474    200 EUR
6475    800 EUR
6476    380 EUR
Name: price, Length: 3546, dtype: object

In [5]:
#convert all the prices to € and remove the 'EUR'

df = df[df['price'].str.contains('SEK')] #.price.str.contains('EUR')
df = df[df['price'].str.match('0') == False]

# create multiplier
mult = df['price'].str.contains('EUR$').map({ True : 10, False : 1})

# extract values
values = df['price'].str.replace(r'\D+', '').astype(int)

df['price'] = values * mult
print(df)

      price surface Country
3500   8000   76 m2  Sweden
3501   8000   13 m2  Sweden
3502   5000   23 m2  Sweden
3503  18000   42 m2  Sweden
3504   6500   75 m2  Sweden
...     ...     ...     ...
3845   4596   50 m2  Sweden
3846  10190  120 m2  Sweden
3847   6279   67 m2  Sweden
3848   5965   76 m2  Sweden
3849   8577  105 m2  Sweden

[309 rows x 3 columns]